* {
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    background: grey;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);

}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #00000090;
    color: #ffffff75;
    
}

.calculator-grid > button:hover{
    background-color: #ffffff80 ;
    color: #000000;

}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand{
    color: #ffffff95;
    font-size: 1.5rem;
    
}

.output .current-operand{
    color: #ffffff;
    font-size: 2.5rem;
}